<!-- app.component.html -->
<!-- Incluir la fuente Playfair Display desde Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<div class="welcome-message">
  <h1>¡Bienvenido!</h1>
  <p>¡Felicidades por elegir nuestra página! Estamos encantados de tenerte aquí.</p>
  
  <!-- Botón que dice "Empecemos esta experiencia" -->
  <button routerLink="/registrarse">Empecemos esta experiencia</button>
</div>

<!-- Este es el lugar donde se mostrarán los componentes según la ruta -->
<router-outlet></router-outlet>
